@use "../../styles/variables";
@use "../../styles/table" as table;

.product-table {
  &__wrapper {
    @extend %table-wrapper;
  }

  @extend %table-base;

  max-width: 1348px;

  &__header {
    background: table.$table-header-bg;
    color: table.$table-header-text;
    font-weight: 600;
  }

  &__row {
    &:nth-child(even) {
      background: table.$row-alt-bg;
    }

    &:hover {
      background-color: table.$table-row-hover-bg;
    }
  }

  &__cell {
    @extend %table-cell;
  }
}
