@use "../../styles/variables";
@use "../../styles/table" as table;

.product-table {
  @extend %table-base;

  &__header {
    background: table.$table-header-bg;
    color: table.$table-header-text;
    font-weight: 600;
  }

  &__row {
    &:nth-child(even) {
      background: table.$row-alt-bg;
    }
  }

  &__cell {
    @extend %table-cell;
  }
}
